h1,h2,h3,h4,h5,h6, ul, li { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
input, textarea, button { font-size: 100%; font: inherit; vertical-align: baseline; }

ul, ol { list-style: none; }

fieldset { margin: 1ex; }

html {
	font: menu;
	color: black;
	padding: 0;
	margin: 0;
	font-size: 10px;
}


section { margin-bottom: 1em; }
section label { 
	text-align: baseline;
}

section header {	
	padding: 1ex;
	color: white;
	background-color: #268;
	font-weight: 700;
	border-bottom: 2px solid #CCC; 
	border-radius: 3px 3px 0 0;
	text-transform: uppercase;
}

section details { padding: 1ex; display: block; border: 1px solid #CCC; border-top: none;  }

button {
	background-color: #268;
	color: white;
	font-weight: bold;
	padding: 1ex 2em;
	border-radius: 3px;
	border: 1px solid #0b4156;
	text-transform: uppercase;
	-webkit-box-shadow: 2px 2px 4px #999;
}

button:hover {
	background-color: #5b99bc;
	border-color: #268;
}


button:active {
	position: relative;
	top: 2px;
	left: 1px;
	background-color: #407fa1;
	border-color: #268;
	-webkit-box-shadow: 1px 0px 1px #999;
}