h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
input, textarea, button { font-size: 100%; font: inherit; vertical-align: baseline; }

fieldset { margin: 1ex; }

html {
	font: menu;
	color: WindowText;
	padding: 0;
	margin: 0;
}


section { border: 1px solid ActiveBorder; margin-bottom: 1em; }
section label { 
	text-align: baseline;
}

section header {	
	border-bottom: 1px solid ActiveBorder;
	padding: 1ex;
	color: CaptionText;
	background-color: ActiveCaption;
}

section details { padding: 1ex; display: block; }